<!--
Templates allow you to change how html is rendered into a juicebox stack. See the templates guide for more details.

Add a template like:

<script type="text/template" id="TEMPLATENAME">
The template goes here
</script>
-->



<script type="text/template" id="distribution-template">
        COWS
        <%= datum.format("value", ",.3s") %>
</script>
<script type="text/template" id="jam-free-form1-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightsalmon;">
        <div class="free-form-header">Percent Female Overview</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class=""><strong><%= datum.state %></strong> is <strong><%= datum.pctfemale %></strong> female.</div>
		</div>
	</div>
</script>
<script type="text/template" id="jam-free-form2-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightsalmon;">
        <div class="free-form-header">Detailed Pastry Analysis</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class=""><strong><%= datum.name %></strong> loves <strong><%= datum.pastry %></strong>!</div>
		</div>
	</div>
</script>
<script type="text/template" id="free-form1-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightsalmon;">
        <div class="free-form-header">Explore details for your physicians</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class="">See physician performance for <strong><%= datum.date %></strong> </div>
		</div>
	</div>
</script>


<script type="text/template" id="free-form2-template">
<script type="text/template" id="free-form2-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightblue;">
        <div class="free-form-header">This is a free form that doesn't use dynamic data</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class="">See physician performance for <strong>2018</strong> </div>
		</div>
	</div>
</script>

<!--card template-->
<script type="text/template" id="card-template">
  <div class="fr-caption <%= datum.classed %>-color" style="font-style: normal; font-size: 80%; text-transform: uppercase;"><%= datum.course_category %></div>
  <div class="fr-body2"><%= datum.label %></div>
  <div class="fr-caption"><%= datum.format("score", ',.1f') %> average score</div>
  <div class="fr-caption"><%= datum.format("count", ',.0f"pluralize( student, students)"') %></div>
</script>
<script type="text/template" id="jam-card-template">
  <div class="fr-body2"><%= datum.label %></div>
  <div class="fr-caption"><%= datum.format("popdiff", ',.0f') %> change in population</div>
</script>
