<!--
Templates allow you to change how html is rendered into a juicebox stack. See the templates guide for more details.

Add a template like:

<script type="text/template" id="TEMPLATENAME">
The template goes here
</script>
-->


<!--
<script type="text/template" id="distribution-template">
        COWS
        <%= datum.format("value", ",.3s") %>
</script>
-->
<script type="text/template" id="free-form-template-unu">
    <button class="group-container__item group-container__item-metric-flavor" style="width: 15%; display: inline-block">
        <div class="group-container__item__label" style="font-weight: 600; font-size: 12px;"><%= datum.name %></div>
        <div class="group-container__item__value group-container__item__value-metric-flavor" style="font-size: 40px; font-weight: 100;"><%= datum.value %></div>
        <div class="group-container__item__label" style="font-weight: 300; font-size: 12px;"><%= datum.benchmark %></div>
    </button>
</script>

<!--
<script type="text/template" id="option-chooser-item-template-metric-flavor">
  <div data-id="<%= datum.id %>" class="group-container__item group-container__item-metric-flavor">
    <div class="group-container__item__label"><%= datum.label %></div>
    <div class="group-container__item__value group-container__item__value-metric-flavor"><%= datum.format('value', null, 'id') %></div>
    <% if (datum.compare) { %>
      <div><%= datum.compare %></div>
    <% } %>
  </div>
</script>
-->

<script type="text/template" id="jam-card-template">
  <div>
      <div style="display: inline-block; width: 100%; text-align: center">
          <div class="fr-headline" style="display: inline-block; font-weight: 500;"><%= datum.name %></div>
      </div>
      <div class="fr-display1" style="display: inline-block; width: 48%; text-align: right; padding-right: 5px; font-weight: 700;" ><%= datum.privilege %></div>
      <div class="fr-body1" style="display: inline-block; width: 48%;">privileges <br> exercised</div>
      <div class="fr-body1" style="font-weight: 500; text-align: center">Most recent request: <%= datum.date %></div>
  </div>
</script>

<!--
<script type="text/template" id="jam-free-form1-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightsalmon;">
        <div class="free-form-header">Percent Female Overview</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class=""><strong><%= datum.state %></strong> is <strong><%= datum.pctfemale %></strong> female.</div>
		</div>
	</div>
</script>
<script type="text/template" id="jam-free-form2-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightsalmon;">
        <div class="free-form-header">Detailed Pastry Analysis</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class=""><strong><%= datum.name %></strong> loves <strong><%= datum.pastry %></strong>!</div>
		</div>
	</div>
</script>
<script type="text/template" id="free-form1-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightsalmon;">
        <div class="free-form-header">Explore details for your physicians</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class="">See physician performance for <strong><%= datum.date %></strong> </div>
		</div>
	</div>
</script>


<script type="text/template" id="free-form2-template">
	<div style="text-align: center; margin-top: 50px; background-color: lightblue;">
        <div class="free-form-header">This is a free form that doesn't use dynamic data</div>
		<div class="fr-headline" style="display:inline-block; font-size: 20px">
            <div class="">See physician performance for <strong>2018</strong> </div>
		</div>
	</div>
</script>
-->

<!--card template
<script type="text/template" id="card-template">
  <div class="fr-caption <%= datum.classed %>-color" style="font-style: normal; font-size: 80%; text-transform: uppercase;"><%= datum.course_category %></div>
  <div class="fr-body2"><%= datum.label %></div>
  <div class="fr-caption"><%= datum.format("score", ',.1f') %> average score</div>
  <div class="fr-caption"><%= datum.format("count", ',.0f"pluralize( student, students)"') %></div>
</script>

-->
<!--
<!-- flower slice details template
<script type="text/template" id="flower-slice-details-template">
    <div  class="viz-details-container">
        <div class="viz-details-title"><i class="hand-icon"></i> <%=title%>:</div>
        <div class="viz-details-score">Your score is <strong><%=score%></strong></div>
        <div class="viz-details-average">Industry average is <strong><%=avg%></strong></div>
    </div>
</script>
-->

<!--
<script type="text/template" id="stack-switcher-template">
  <% if (datum.url) { %>
  <a href="<%= datum.url %>" target="_blank" class="fr-btn fr-btn-accent"><%= datum.label %></a>
  <% } %>
</script>
-->
